.list-item {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
}

#list {
  margin: 5%;
}

.list-content {
  display: grid;
  grid-template-columns: 75% 25%;
}

.details {
  grid-column: 1;
  grid-row: 1;
}

.actions {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checking {
  grid-column: 1/3;
  grid-row: 2/3;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
