<mat-accordion id="list">
  <ng-container [ngSwitch]="empty">
    <mat-progress-bar mode="indeterminate" *ngSwitchDefault></mat-progress-bar>
    <ng-container *ngSwitchCase="true">
      <mat-card class="list-item">
        <span *ngIf="userService.isEnglish()">No new models available.</span><span *ngIf="!userService.isEnglish()">Brak nowych modeli.</span>
      </mat-card>
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <ng-container *ngFor = "let item of models">
        <mat-expansion-panel (click)="item = getDetails(item)" class="list-item">
          <mat-expansion-panel-header>
            <mat-panel-title class="unselectable">
              {{item.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container>
            <div class="list-content">
              <div class="details">
                <ng-container *ngIf="item.details != null">
                  <span *ngIf="userService.isEnglish()">Number of inputs:</span><span *ngIf="!userService.isEnglish()">Liczba wejść:</span> {{item.details.inputs}}
                  <br>
                  <span *ngIf="userService.isEnglish()">Number of layers:</span><span *ngIf="!userService.isEnglish()">Liczba warstw:</span> {{item.details.layers}}
                  <br>
                  <span *ngIf="userService.isEnglish()">Number of outputs:</span><span *ngIf="!userService.isEnglish()">Liczba wyjść:</span> {{item.details.outputs}}
                  <hr>
                  <span *ngIf="userService.isEnglish()">Created by:</span><span *ngIf="!userService.isEnglish()">Dodał:</span> {{item.details.ownerName}}
                  <br>
                  <span *ngIf="userService.isEnglish()">Date create:</span><span *ngIf="!userService.isEnglish()">Data dodania:</span> {{item.details.createdDate | date: 'dd/MM/yyyy | hh:mm'}}
                </ng-container>
              </div>
              <div class="actions">
                <br>
                <br>
                <button mat-stroked-button color="primary" (click)="acceptModel(item)" style="margin-right: 8%">
                  <span *ngIf="userService.isEnglish()">Accept</span>
                  <span *ngIf="!userService.isEnglish()">Akceptuj</span>
                </button>
                <button mat-stroked-button color="warn" (click)="rejectModel(item)">
                  <span *ngIf="userService.isEnglish()">Reject</span>
                  <span *ngIf="!userService.isEnglish()">Odrzuć</span>
                </button>
              </div>
              <div class="checking">
                <hr>
                <span *ngIf="userService.isEnglish()">Possible outputs:</span>
                <span *ngIf="!userService.isEnglish()">Możliwe wyjścia:</span>
                <ng-container *ngIf="item.details != null">
                  <ng-container *ngFor="let label of item.details.labels">
                    {{label}}
                  </ng-container>
                </ng-container>
                <button mat-stroked-button style="margin-left: 2%" (click)="modelService.downloadModel(item.id)">
                  <span *ngIf="userService.isEnglish()">Download</span>
                  <span *ngIf="!userService.isEnglish()">Pobierz</span>
                </button>
                <button mat-stroked-button type="button" style="margin: 1%" onclick="document.getElementById('fileToUpload').click()">
                  <span *ngIf="userService.isEnglish()">Choose image</span>
                  <span *ngIf="!userService.isEnglish()">Wybierz obraz</span>
                </button>
                <input id="fileToUpload" #file type="file"  (change)="loadFile(file.files[0])" accept="image/*" style="display:none">
                <button [disabled]="!loaded" style="margin-right: 5%" mat-stroked-button color="primary" (click)="checkImage(item.id)">
                  <span *ngIf="userService.isEnglish()">Check</span>
                  <span *ngIf="!userService.isEnglish()">Sprawdź</span>
                </button>
                <ng-container *ngIf="probabilities.length != 0">
                  <span *ngIf="userService.isEnglish()">Result: </span><span *ngIf="!userService.isEnglish()">Wynik: </span> <b>{{probabilities[0].label}}</b>
                </ng-container>

              </div>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
  </ng-container>
</mat-accordion>
