<mat-accordion *ngIf="details != null">
  <mat-card id="info">
    <h2>{{details.name}}</h2>
    <div id="buttons">
    <button mat-stroked-button type="button" onclick="document.getElementById('fileToUpload').click()">
      <span *ngIf="userService.isEnglish()">Choose image</span>
      <span *ngIf="!userService.isEnglish()">Wybierz obraz</span>
    </button>
    <input id="fileToUpload" #file type="file" (change)="loadFile(file.files[0])" accept="image/*" style="display:none">
    <button [disabled]="!loaded" mat-stroked-button color="primary" (click)="checkImage()">
      <span *ngIf="userService.isEnglish()">Check</span>
      <span *ngIf="!userService.isEnglish()">Sprawdź</span>
    </button>
    <button mat-stroked-button style="margin-left: 10%" (click)="modelService.downloadModel(id)">
      <span *ngIf="userService.isEnglish()">Download</span>
      <span *ngIf="!userService.isEnglish()">Pobierz</span>
    </button>
    </div>
    <hr>
    <span *ngIf="userService.isEnglish()">Created by:</span><span *ngIf="!userService.isEnglish()">Dodał:</span> {{details.ownerName}}
    <br>
    <span *ngIf="userService.isEnglish()">Date create:</span><span *ngIf="!userService.isEnglish()">Data dodania:</span> {{details.createdDate | date: 'dd/MM/yyyy | hh:mm'}}
    <hr>
    <span *ngIf="userService.isEnglish()">Number of inputs:</span><span *ngIf="!userService.isEnglish()">Liczba wejść:</span> {{details.inputs}}
    <br>
    <span *ngIf="userService.isEnglish()">Number of layers:</span><span *ngIf="!userService.isEnglish()">Liczba warstw:</span> {{details.layers}}
    <br>
    <span *ngIf="userService.isEnglish()">Outputs:</span><span *ngIf="!userService.isEnglish()">Wyjścia:</span>
    <ol>
      <li *ngFor="let label of details.labels"> {{label}}</li>
    </ol>
  </mat-card>
  <mat-card id="image">
    <img src="{{imgURL}}" alt="Image preview">
  </mat-card>
  <mat-card id="result">
    <ng-container *ngIf="checking">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>
    <ng-container *ngIf="probabilities.length != 0 && !checking; else noresult">
      <span *ngIf="userService.isEnglish()">Result: <ng-container *ngIf="probabilities[0].probability < 0.5"><b>I have a problem with this one, but it's probably </b></ng-container></span>
      <span *ngIf="!userService.isEnglish()">Wynik: <ng-container *ngIf="probabilities[0].probability < 0.5"><b>Mam z tym problem, ale prawdopodobnie jest to </b></ng-container></span>
      <b> {{probabilities[0].label}}</b>
    </ng-container>
    <ng-template #noresult>
      <ng-container *ngIf="!checking">
        <span *ngIf="userService.isEnglish()">Choose image and check it.</span>
        <span *ngIf="!userService.isEnglish()">Wybierz plik z grafiką i sprawdź go.</span>
      </ng-container>
    </ng-template>
  </mat-card>
</mat-accordion>
