mat-accordion {
  margin:3%;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 2%
}

.card {
  margin-left: 5%;
  margin-right: 5%;
}

#info {
  grid-column: 1;
  grid-row: 1/3;
}

#image {
  min-height: 450px;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 450px;
  max-width: 100%;
}

#result {
  grid-column: 2/3;
  grid-row: 2;
}

button {
  margin: 3%;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}
