<mat-toolbar color="primary" id="toolbar">
  <span class="unselectable" (click)="goHome()"> \>> NeuralTrainer </span>
  <span class="fill-remaining-space"></span>
  <button *ngIf="router.url !== '/upload'" mat-icon-button (click)="userService.toggleLang()">
    <mat-icon svgIcon="language" ></mat-icon>
  </button>
  <button mat-icon-button (click)="changeTheme()">
    <mat-icon svgIcon="theme"></mat-icon>
  </button>
  <ng-container *ngIf="userService.logged; else dialogbutton">
  <button mat-flat-button class="account" mat-button [matMenuTriggerFor]="menu"> {{userService.getUsername()}} </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goUpload()">
      <span *ngIf="userService.isEnglish()">Add new model</span>
      <span *ngIf="!userService.isEnglish()">Dodaj model</span>
    </button>
    <button *ngIf="userService.isAdmin()" mat-menu-item (click)="goAdmin()">
      <span *ngIf="userService.isEnglish()">Administrator panel</span>
      <span *ngIf="!userService.isEnglish()">Panel administratora</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <span *ngIf="userService.isEnglish()">Logout</span>
      <span *ngIf="!userService.isEnglish()">Wyloguj</span>
    </button>
  </mat-menu>
  </ng-container>
  <ng-template #dialogbutton>
    <button mat-flat-button class="account" (click)="openDialog()">
      <span *ngIf="userService.isEnglish()">Account</span>
      <span *ngIf="!userService.isEnglish()">Konto</span>
    </button>
  </ng-template>
</mat-toolbar>
