.fill-remaining-space {
  flex: 1 1 auto;
}

#toolbar {
  width: 100%;
  max-height: 50px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.account {
  margin-left: 1%;
}
