// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat-palette($mat-blue);
$frontend-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-theme);

.frontend-theme {
  @include angular-material-theme($frontend-theme);
}

// Grey theme
$grey-primary: mat-palette($mat-blue-grey);
$grey-accent:  mat-palette($mat-amber, A200, A100, A400);
$grey-warn:    mat-palette($mat-deep-orange);
$grey-theme:   mat-dark-theme($grey-primary, $grey-accent, $grey-warn);

.grey-theme {
  @include angular-material-theme($grey-theme);
}

//Alt Theme
$alt-primary: mat-palette($mat-deep-purple, 600);
$alt-accent: mat-palette($mat-deep-purple, 300);
$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

.alternative {
  @include angular-material-theme($alt-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
