<mat-accordion id="list">
  <ng-container [ngSwitch]="empty">
    <mat-progress-bar mode="indeterminate" *ngSwitchDefault></mat-progress-bar>
    <ng-container *ngSwitchCase="true">
      <mat-card class="list-item">
        <span *ngIf="userService.isEnglish()">No models available.</span><span *ngIf="!userService.isEnglish()">Brak dostępnych modeli.</span>
      </mat-card>
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <ng-container *ngFor = "let item of models">
        <mat-expansion-panel (click)="item = getDetails(item)" class="list-item">
          <mat-expansion-panel-header>
            <mat-panel-title class="unselectable">
              {{item.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container>
            <div class="list-content">
              <div class="details">
                <ng-container *ngIf="item.details != null">
                  <span *ngIf="userService.isEnglish()">Number of inputs:</span><span *ngIf="!userService.isEnglish()">Liczba wejść:</span> {{item.details.inputs}}
                  <br>
                  <span *ngIf="userService.isEnglish()">Number of layers:</span><span *ngIf="!userService.isEnglish()">Liczba warstw:</span> {{item.details.layers}}
                  <br>
                  <span *ngIf="userService.isEnglish()">Number of outputs:</span><span *ngIf="!userService.isEnglish()">Liczba wyjść:</span> {{item.details.outputs}}
                  <hr>
                  <span *ngIf="userService.isEnglish()">Created by:</span><span *ngIf="!userService.isEnglish()">Dodał:</span> {{item.details.ownerName}}
                  <br>
                  <span *ngIf="userService.isEnglish()">Date create:</span><span *ngIf="!userService.isEnglish()">Data dodania:</span> {{item.details.createdDate | date: 'dd/MM/yyyy | hh:mm'}}
                </ng-container>
              </div>
              <div class="actions">
                <br>
                <button mat-stroked-button (click)="useModel(item.id)" style="margin-right: 8%">
                  <span *ngIf="userService.isEnglish()">Use</span>
                  <span *ngIf="!userService.isEnglish()">Użyj</span>
                </button>
                <button mat-stroked-button (click)="modelService.downloadModel(item.id)">
                  <span *ngIf="userService.isEnglish()">Download</span>
                  <span *ngIf="!userService.isEnglish()">Pobierz</span>
                </button>
              </div>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
  </ng-container>
</mat-accordion>
