<mat-tab-group>
  <ng-container *ngIf="userService.isEnglish(); else pl">
    <mat-tab label="Sign in">
      <br>
      <br>
      <mat-form-field>
        <input matInput id="nameLog" placeholder="Username" [(ngModel)]="usernameLog">
      </mat-form-field>
      <mat-form-field>
        <input matInput id="passLog" placeholder="Password" type="password" [(ngModel)]="passwordLog" (keyup.enter)="login()">
      </mat-form-field>
      <div class="buttons">
        <button mat-stroked-button (click)="login()" style="margin-top: 20px">Sign in</button>
      </div>
      <span class="buttons" *ngIf="errorLog"><br>Invalid login data.</span>
    </mat-tab>
    <mat-tab label="Register">
      <br>
      <mat-form-field>
        <input matInput id="email" placeholder="E-mail" [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput id="nameReg" placeholder="Username" [(ngModel)]="usernameReg">
      </mat-form-field>
      <mat-form-field>
        <input matInput id="passReg" placeholder="Password" type="password" [(ngModel)]="passwordReg" (keyup.enter)="register()">
      </mat-form-field>
      <div class="buttons">
        <button mat-stroked-button (click)="register()">Register</button>
      </div>
      <span class="buttons" *ngIf="errorReg"><br>Invalid register data.</span>
    </mat-tab>
  </ng-container>
  <ng-template #pl>
    <mat-tab label="Logowanie">
      <br>
      <br>
      <mat-form-field>
        <input matInput placeholder="Nazwa użytkownika" [(ngModel)]="usernameLog">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Hasło" type="password" [(ngModel)]="passwordLog" (keyup.enter)="login()">
      </mat-form-field>
      <div class="buttons">
        <button mat-stroked-button (click)="login()" style="margin-top: 20px">Zaloguj</button>
      </div>
      <span class="buttons" *ngIf="errorLog"><br>Nieprawidłowe dane logowania.</span>
    </mat-tab>
    <mat-tab label="Rejestracja">
      <br>
      <mat-form-field>
        <input matInput placeholder="E-mail" [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nazwa użytkownika" [(ngModel)]="usernameReg">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Hasło" type="password" [(ngModel)]="passwordReg" (keyup.enter)="register()">
      </mat-form-field>
      <div class="buttons">
        <button mat-stroked-button (click)="register()">Zarejestruj</button>
      </div>
      <span class="buttons" *ngIf="errorReg"><br>Nieprawidłowe dane rejestracji.</span>
    </mat-tab>
  </ng-template>
</mat-tab-group>
