mat-accordion {
  margin: 5%;
}

.card {
  margin-left: 5%;
  margin-right: 5%;
}

.form-content {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 75% 25%;
}

.fields {
  grid-column: 1;
}

.actions {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
