<mat-accordion>
  <ng-container *ngIf="userService.isEnglish(); else pl">
    <mat-card class="card">
      <mat-vertical-stepper [linear]="true">
        <mat-step [stepControl]="nameFormGroup">
          <form [formGroup]="nameFormGroup" class="form-content">
            <ng-template matStepLabel>Add name</ng-template>
            <mat-form-field class="fields">
              <input #mname matInput placeholder="Name" [(ngModel)]="modelName" formControlName="thirdCtrl">
            </mat-form-field>
            <div class="actions">
              <button mat-stroked-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="uploadFormGroup">
          <form [formGroup]="uploadFormGroup" class="form-content">
            <ng-template matStepLabel>Send</ng-template>
            <div class="fields">
              <input #modelInput type="file" accept=".zip" (change)="upload(modelInput.files[0])" formControlName="firstCtrl">
            </div>
            <div class="actions">
              <button mat-stroked-button style="margin: 8%" matStepperPrevious>Previous</button>
              <button mat-stroked-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="outputsFormGroup">
          <form [formGroup]="outputsFormGroup" class="form-content">
            <ng-template matStepLabel>Fill outputs</ng-template>
            <ng-container *ngIf="outputs.length == 0">
                <mat-spinner [diameter]="40"></mat-spinner>
            </ng-container>
            <ng-container *ngFor="let output of outputs; let i = index" [attr.data-index]="i">
              <mat-form-field id="field-{{i}}" class="fields">
                  <input type="text" id="input-{{i}}" name="input-{{i}}" matInput placeholder="Output {{i}}" formControlName="secondCtrl">
              </mat-form-field>
            </ng-container>
            <div class="actions">
              <button mat-stroked-button style="margin: 8%" matStepperPrevious>Previous</button>
              <button mat-stroked-button matStepperNext (click)="getOutputsValue()">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form class="form-content">
            <ng-template matStepLabel>Save</ng-template>
            <div class="fields">
              <span *ngIf="userService.isEnglish()">Summary:</span><span *ngIf="!userService.isEnglish()">Podsumowanie:</span>
              <ol>
                <li><span *ngIf="userService.isEnglish()">Name: </span><span *ngIf="!userService.isEnglish()">Nazwa:</span> {{modelName}}</li>
                <li><span *ngIf="userService.isEnglish()">File: </span><span *ngIf="!userService.isEnglish()">Plik:</span> {{modelFile}}</li>
                <li><span *ngIf="userService.isEnglish()">Outputs:</span><span *ngIf="!userService.isEnglish()">Wyjścia:</span>
                  <ul *ngFor="let output of outputs">
                    <li>{{output}}</li>
                  </ul>
                </li>
              </ol>
            </div>
            <div class="actions">
              <button mat-stroked-button style="margin: 8%" matStepperPrevious>Previous</button>
              <button mat-stroked-button color="primary" (click)="save()">Save</button>
            </div>
          </form>
          <ng-container *ngIf="saving">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </ng-container>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card>
  </ng-container>
  <ng-template #pl>
    <mat-card class="card">
      <mat-vertical-stepper [linear]="true">
        <mat-step [stepControl]="nameFormGroup">
          <form [formGroup]="nameFormGroup" class="form-content">
            <ng-template matStepLabel>Nazwij</ng-template>
            <mat-form-field class="fields">
              <input #mname matInput placeholder="Nazwa" [(ngModel)]="modelName" formControlName="thirdCtrl">
            </mat-form-field>
            <div class="actions">
              <button mat-stroked-button matStepperNext>Dalej</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="uploadFormGroup">
          <form [formGroup]="uploadFormGroup" class="form-content">
            <ng-template matStepLabel>Wyślij</ng-template>
            <div class="fields">
              <input #modelInput type="file" accept=".zip" (change)="upload(modelInput.files[0])" formControlName="firstCtrl">
            </div>
            <div class="actions">
              <button mat-stroked-button style="margin: 8%" matStepperPrevious>Wstecz</button>
              <button mat-stroked-button matStepperNext>Dalej</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="outputsFormGroup">
          <form [formGroup]="outputsFormGroup" class="form-content">
            <ng-template matStepLabel>Uzupełnij</ng-template>
            <ng-container *ngIf="outputs.length == 0">
              <mat-spinner [diameter]="40"></mat-spinner>
            </ng-container>
            <ng-container *ngFor="let output of outputs; let i = index" [attr.data-index]="i">
              <mat-form-field id="field-{{i}}" class="fields">
                <input type="text" id="input-{{i}}" name="input-{{i}}" matInput placeholder="Wyjście {{i}}" formControlName="secondCtrl">
              </mat-form-field>
            </ng-container>
            <div class="actions">
              <button mat-stroked-button style="margin: 8%" matStepperPrevious>Wstecz</button>
              <button mat-stroked-button matStepperNext (click)="getOutputsValue()">Dalej</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form class="form-content">
            <ng-template matStepLabel>Zapisz</ng-template>
            <div class="fields">
              Podsumowanie:
              <ol>
                <li>Nazwa: {{modelName}}</li>
                <li>Plik: {{modelFile}}</li>
                <li>Wyjścia:
                  <ul *ngFor="let output of outputs">
                    <li>{{output}}</li>
                  </ul>
                </li>
              </ol>
            </div>
            <div class="actions">
              <button mat-stroked-button style="margin: 8%" matStepperPrevious>Wstecz</button>
              <button mat-stroked-button color="primary" (click)="save()">Zapisz</button>
            </div>
          </form>
          <ng-container *ngIf="saving">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </ng-container>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card>
  </ng-template>
</mat-accordion>
